In [2]:
# Import Library
import pandas as pd

In [3]:
# Load the Customer data
df = pd.read_csv('C:/DEPI/Customers.csv')

In [4]:
print(df.head())

   customer_id customer_name              email
0            1      John Doe   john@example.com
1            2    Jane Smith   jane@example.com
2            3  Mike Johnson   mike@example.com
3            4   Emily Davis  emily@example.com
4            5   Chris Brown  chris@example.com

In [5]:
print(df.tail())

    customer_id    customer_name                       email
95           96  Brooklyn Garcia        brooklyn@example.com
96           97    Robert Thomas   robert.thomas@example.com
97           98    Jessica White   jessica.white@example.com
98           99     Chris Harris    chris.harris@example.com
99          100   Patricia Lewis  patricia.lewis@example.com

In [6]:
print(df.columns)

Index(['customer_id', 'customer_name', 'email'], dtype='object')

In [7]:
# Describe the data to get summary statistics
print(df.describe())

       customer_id
count   100.000000
mean     50.500000
std      29.011492
min       1.000000
25%      25.750000
50%      50.500000
75%      75.250000
max     100.000000

In [8]:
# Identify missing values
print(df.isnull().sum())

customer_id      0
customer_name    0
email            0
dtype: int64

In [9]:
# Iterate over rows and columns
for index, row in df.iterrows():
    print(f"Row {index}: {row['customer_name']} - {row['email']}")

Row 0: John Doe - john@example.com
Row 1: Jane Smith - jane@example.com
Row 2: Mike Johnson - mike@example.com
Row 3: Emily Davis - emily@example.com
Row 4: Chris Brown - chris@example.com
Row 5: Sarah Wilson - sarah@example.com
Row 6: Daniel Evans - daniel@example.com
Row 7: Sophia Moore - sophia@example.com
Row 8: Matthew Lee - matthew@example.com
Row 9: Olivia Harris - olivia@example.com
Row 10: David Clark - david@example.com
Row 11: Emma Lewis - emma@example.com
Row 12: Liam Walker - liam@example.com
Row 13: Ava Robinson - ava@example.com
Row 14: James Martinez - james@example.com
Row 15: Isabella Hall - isabella@example.com
Row 16: Benjamin Allen - benjamin@example.com
Row 17: Mia Young - mia@example.com
Row 18: Henry King - henry@example.com
Row 19: Charlotte Wright - charlotte@example.com
Row 20: Alexander Scott - alexander@example.com
Row 21: Amelia Adams - amelia@example.com
Row 22: Elijah Turner - elijah@example.com
Row 23: Evelyn Mitchell - evelyn@example.com
Row 24: William Perez - william@example.com
Row 25: Abigail Hill - abigail@example.com
Row 26: Michael Torres - michael@example.com
Row 27: Harper Ramirez - harper@example.com
Row 28: Samuel Campbell - samuel@example.com
Row 29: Lily Parker - lily@example.com
Row 30: Jackson Phillips - jackson@example.com
Row 31: Ella Roberts - ella@example.com
Row 32: Sebastian Baker - sebastian@example.com
Row 33: Grace Carter - grace@example.com
Row 34: Aiden Sanders - aiden@example.com
Row 35: Scarlett Price - scarlett@example.com
Row 36: Lucas Nelson - lucas@example.com
Row 37: Victoria Ward - victoria@example.com
Row 38: Mason Rivera - mason@example.com
Row 39: Zoey Morris - zoey@example.com
Row 40: Ethan Jenkins - ethan@example.com
Row 41: Penelope Perry - penelope@example.com
Row 42: Logan Coleman - logan@example.com
Row 43: Aria Peterson - aria@example.com
Row 44: Jacob Bailey - jacob@example.com
Row 45: Ella Foster - ella@example.com
Row 46: Levi Powell - levi@example.com
Row 47: Hannah Cooper - hannah@example.com
Row 48: Owen Richardson - owen@example.com
Row 49: Avery Bell - avery@example.com
Row 50: Wyatt Howard - wyatt@example.com
Row 51: Chloe Lee - chloe@example.com
Row 52: Noah White - noah@example.com
Row 53: Layla Hughes - layla@example.com
Row 54: Jack Martin - jack@example.com
Row 55: Sofia Evans - sofia@example.com
Row 56: Caleb Green - caleb@example.com
Row 57: Madison Garcia - madison@example.com
Row 58: Carter Walker - carter@example.com
Row 59: Riley Hall - riley@example.com
Row 60: Isaac King - isaac@example.com
Row 61: Nora Lewis - nora@example.com
Row 62: Gabriel Wright - gabriel@example.com
Row 63: Eleanor Robinson - eleanor@example.com
Row 64: Julian Turner - julian@example.com
Row 65: Lucy Martinez - lucy@example.com
Row 66: Leo Campbell - leo@example.com
Row 67: Natalie Clark - natalie@example.com
Row 68: Dylan Mitchell - dylan@example.com
Row 69: Savannah Perez - savannah@example.com
Row 70: Ryan Phillips - ryan@example.com
Row 71: Zoey Adams - zoey@example.com
Row 72: Nathan Torres - nathan@example.com
Row 73: Audrey Parker - audrey@example.com
Row 74: Luke Baker - luke@example.com
Row 75: Stella Carter - stella@example.com
Row 76: Thomas Sanders - thomas@example.com
Row 77: Riley Morris - riley@example.com
Row 78: Aaron Rivera - aaron@example.com
Row 79: Hazel Nelson - hazel@example.com
Row 80: Jameson Ward - jameson@example.com
Row 81: Maya Bailey - maya@example.com
Row 82: Ezra Lee - ezra@example.com
Row 83: Aurora Powell - aurora@example.com
Row 84: Joshua Foster - joshua@example.com
Row 85: Addison Coleman - addison@example.com
Row 86: Grayson Hughes - grayson@example.com
Row 87: Ellie Peterson - ellie@example.com
Row 88: Oliver Richardson - oliver@example.com
Row 89: Lillian Howard - lillian@example.com
Row 90: Colton Bell - colton@example.com
Row 91: Bella Martin - bella@example.com
Row 92: Isaiah White - isaiah@example.com
Row 93: Paisley Evans - paisley@example.com
Row 94: Andrew Green - andrew@example.com
Row 95: Brooklyn Garcia - brooklyn@example.com
Row 96: Robert Thomas - robert.thomas@example.com
Row 97: Jessica White - jessica.white@example.com
Row 98: Chris Harris - chris.harris@example.com
Row 99: Patricia Lewis - patricia.lewis@example.com

In [10]:
# Group data items (example: group by customer name and count)
grouped_data = df.groupby('customer_name').size().reset_index(name='Count')
print(grouped_data)

      customer_name  Count
0      Aaron Rivera      1
1      Abigail Hill      1
2   Addison Coleman      1
3     Aiden Sanders      1
4   Alexander Scott      1
..              ...    ...
95    Victoria Ward      1
96    William Perez      1
97     Wyatt Howard      1
98       Zoey Adams      1
99      Zoey Morris      1

[100 rows x 2 columns]

In [11]:
# Concatenate DataFrames (example: create a new DataFrame with some sample data)
new_data = pd.DataFrame({
    'customer_id': [101, 102],
    'customer_name': ['New Customer 1', 'New Customer 2'],
    'email': ['new1@example.com', 'new2@example.com']
})

In [12]:
# Concatenate the new data with the existing DataFrame
df = pd.concat([df, new_data], ignore_index=True)

In [13]:
# Show the final DataFrame
print(df)

     customer_id   customer_name                       email
0              1        John Doe            john@example.com
1              2      Jane Smith            jane@example.com
2              3    Mike Johnson            mike@example.com
3              4     Emily Davis           emily@example.com
4              5     Chris Brown           chris@example.com
..           ...             ...                         ...
97            98   Jessica White   jessica.white@example.com
98            99    Chris Harris    chris.harris@example.com
99           100  Patricia Lewis  patricia.lewis@example.com
100          101  New Customer 1            new1@example.com
101          102  New Customer 2            new2@example.com

[102 rows x 3 columns]

In [14]:
# Sort the DataFrame by 'Customer Name'
sorted_df = df.sort_values(by='customer_name')
print("\nSorted Data by Customer Name:")
print(sorted_df)

Sorted Data by Customer Name:
    customer_id    customer_name                  email
78           79     Aaron Rivera      aaron@example.com
25           26     Abigail Hill    abigail@example.com
85           86  Addison Coleman    addison@example.com
34           35    Aiden Sanders      aiden@example.com
20           21  Alexander Scott  alexander@example.com
..          ...              ...                    ...
37           38    Victoria Ward   victoria@example.com
24           25    William Perez    william@example.com
50           51     Wyatt Howard      wyatt@example.com
71           72       Zoey Adams       zoey@example.com
39           40      Zoey Morris       zoey@example.com

[102 rows x 3 columns]

In [15]:
# Show the final DataFrame
print("\nFinal DataFrame:")
print(sorted_df)

Final DataFrame:
    customer_id    customer_name                  email
78           79     Aaron Rivera      aaron@example.com
25           26     Abigail Hill    abigail@example.com
85           86  Addison Coleman    addison@example.com
34           35    Aiden Sanders      aiden@example.com
20           21  Alexander Scott  alexander@example.com
..          ...              ...                    ...
37           38    Victoria Ward   victoria@example.com
24           25    William Perez    william@example.com
50           51     Wyatt Howard      wyatt@example.com
71           72       Zoey Adams       zoey@example.com
39           40      Zoey Morris       zoey@example.com

[102 rows x 3 columns]

In [18]:
# Load the FeedbackCategories data
df = pd.read_csv('C:/DEPI/FeedbackCategories.csv')

In [19]:
df.head()

   category_id       category_name
0            1     Product Quality
1            2     Service Quality
2            3            Delivery
3            4  Website Experience
4            5    Customer Support

In [25]:
print(df.tail())

    category_id          category_name
95           96      Employee Training
96           97          Return Labels
97           98  Warranty Registration
98           99         Product Recall
99          100          Brand Loyalty

In [26]:
print(df.columns)

Index(['category_id', 'category_name'], dtype='object')

In [20]:
df.describe()

       category_id
count   100.000000
mean     50.500000
std      29.011492
min       1.000000
25%      25.750000
50%      50.500000
75%      75.250000
max     100.000000

In [27]:
# Identify missing values
print(df.isnull().sum())

category_id      0
category_name    0
dtype: int64

In [28]:
# Iterate over rows and columns
for index, row in df.iterrows():
    print(f"Row {index}: {row['category_id']} - {row['category_name']}")

Row 0: 1 - Product Quality
Row 1: 2 - Service Quality
Row 2: 3 - Delivery
Row 3: 4 - Website Experience
Row 4: 5 - Customer Support
Row 5: 6 - Technical Support
Row 6: 7 - Billing Issues
Row 7: 8 - Return and Refund Process
Row 8: 9 - Shipping Experience
Row 9: 10 - Mobile App Usability
Row 10: 11 - Account Management
Row 11: 12 - Product Availability
Row 12: 13 - Pricing and Discounts
Row 13: 14 - Product Features
Row 14: 15 - Product Packaging
Row 15: 16 - Order Tracking
Row 16: 17 - Loyalty Program
Row 17: 18 - Payment Methods
Row 18: 19 - Checkout Process
Row 19: 20 - Social Media Interaction
Row 20: 21 - Email Support
Row 21: 22 - Phone Support
Row 22: 23 - Live Chat Support
Row 23: 24 - In-Store Experience
Row 24: 25 - Online Store Navigation
Row 25: 26 - Warranty and Repairs
Row 26: 27 - Security and Privacy
Row 27: 28 - Product Recommendations
Row 28: 29 - Installation Assistance
Row 29: 30 - Order Confirmation Process
Row 30: 31 - Subscription Services
Row 31: 32 - Gift Cards and Vouchers
Row 32: 33 - Product Reviews
Row 33: 34 - Technical Documentation
Row 34: 35 - User Manuals
Row 35: 36 - Complaint Handling
Row 36: 37 - Customer Surveys
Row 37: 38 - Brand Perception
Row 38: 39 - Marketing Emails
Row 39: 40 - Advertising Campaigns
Row 40: 41 - Corporate Social Responsibility
Row 41: 42 - Environmental Impact
Row 42: 43 - Community Involvement
Row 43: 44 - Employee Friendliness
Row 44: 45 - Store Cleanliness
Row 45: 46 - Queue Management
Row 46: 47 - Accessibility Features
Row 47: 48 - Return Policy
Row 48: 49 - After-Sales Service
Row 49: 50 - Promotional Offers
Row 50: 51 - Referral Program
Row 51: 52 - Appointment Scheduling
Row 52: 53 - Product Customization
Row 53: 54 - Size and Fit
Row 54: 55 - Product Range
Row 55: 56 - Store Ambiance
Row 56: 57 - Product Durability
Row 57: 58 - Online Payment Security
Row 58: 59 - Store Location Convenience
Row 59: 60 - Gift Wrapping
Row 60: 61 - Event Hosting
Row 61: 62 - Store Hours
Row 62: 63 - Inventory Management
Row 63: 64 - Stock Updates
Row 64: 65 - Online Chatbot
Row 65: 66 - Customer Testimonials
Row 66: 67 - Order Confirmation Speed
Row 67: 68 - Loyalty Rewards Redemption
Row 68: 69 - Promotional Events
Row 69: 70 - Holiday Sales
Row 70: 71 - Corporate Communication
Row 71: 72 - Online FAQ
Row 72: 73 - Installation Guides
Row 73: 74 - Product Setup
Row 74: 75 - Newsletter Quality
Row 75: 76 - Free Trials
Row 76: 77 - Demo Availability
Row 77: 78 - Product Testing
Row 78: 79 - Exclusive Member Discounts
Row 79: 80 - Online Return Process
Row 80: 81 - Store Return Process
Row 81: 82 - Technical Problem Resolution
Row 82: 83 - International Shipping
Row 83: 84 - Shipping Costs
Row 84: 85 - Delivery Time
Row 85: 86 - Order Status Updates
Row 86: 87 - Customer Service Knowledge
Row 87: 88 - Sales Staff Assistance
Row 88: 89 - Product Training
Row 89: 90 - Assembly Instructions
Row 90: 91 - Home Delivery Service
Row 91: 92 - Contact Us Form
Row 92: 93 - Feedback Collection
Row 93: 94 - Suggestion Box
Row 94: 95 - Free Samples
Row 95: 96 - Employee Training
Row 96: 97 - Return Labels
Row 97: 98 - Warranty Registration
Row 98: 99 - Product Recall
Row 99: 100 - Brand Loyalty

In [23]:
# Group by category name and get the mean sentiment
print("\nMean sentiment score by category:")
grouped_data = df.groupby('category_name').mean()
print(grouped_data)

Mean sentiment score by category:
                        category_id
category_name
Accessibility Features         47.0
Account Management             11.0
Advertising Campaigns          40.0
After-Sales Service            49.0
Appointment Scheduling         52.0
...                             ...
Technical Support               6.0
User Manuals                   35.0
Warranty Registration          98.0
Warranty and Repairs           26.0
Website Experience              4.0

[100 rows x 1 columns]

In [24]:
# Count the number of feedbacks per category
print("\nCount of feedbacks per category:")
feedback_count = df.groupby('category_name').count()
print(feedback_count)

Count of feedbacks per category:
                        category_id
category_name
Accessibility Features            1
Account Management                1
Advertising Campaigns             1
After-Sales Service               1
Appointment Scheduling            1
...                             ...
Technical Support                 1
User Manuals                      1
Warranty Registration             1
Warranty and Repairs              1
Website Experience                1

[100 rows x 1 columns]

In [29]:
# Sort the DataFrame by 'Customer Name'
sorted_df = df.sort_values(by='category_name')
print("\nSorted Data by Category Name:")
print(sorted_df)

Sorted Data by Category Name:
    category_id           category_name
46           47  Accessibility Features
10           11      Account Management
39           40   Advertising Campaigns
48           49     After-Sales Service
51           52  Appointment Scheduling
..          ...                     ...
5             6       Technical Support
34           35            User Manuals
97           98   Warranty Registration
25           26    Warranty and Repairs
3             4      Website Experience

[100 rows x 2 columns]

In [30]:
# Load the FeedbackForms data
df = pd.read_csv('C:/DEPI/FeedbackForms.csv')

In [31]:
df.head()

,feedback_id,customer_id,category_id,feedback_date,feedback_description,sentiment,source,rating,response_status,improvement_suggested,Unnamed: 10
0,1,1,1,00:00.0,I love this product!,Positive,Twitter,5,Responded,NaN,NaN
1,2,2,2,00:00.0,I had a terrible experience with their service.,Negative,Yelp,2,Responded,Improve service,NaN
2,3,3,3,00:00.0,This product exceeded my expectations!,Positive,Amazon,5,Not Responded,NaN,NaN
3,4,4,4,04/09/2024 00:00,I am very disappointed with the quality of thi...,Negative,Online Store,1,Responded,Quality check,NaN
4,5,5,5,00:00.0,Amazing experience! Would definitely recommend!,Positive,TripAdvisor,5,Not Responded,NaN,NaN

In [35]:
df.describe()

       feedback_id  customer_id  category_id
count   100.000000   100.000000   100.000000
mean     50.500000    50.500000    50.500000
std      29.011492    29.011492    29.011492
min       1.000000     1.000000     1.000000
25%      25.750000    25.750000    25.750000
50%      50.500000    50.500000    50.500000
75%      75.250000    75.250000    75.250000
max     100.000000   100.000000   100.000000

In [59]:
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')

In [63]:
# Group by sentiment and get the mean rating
print("\nMean rating by sentiment:")
grouped_data = df.groupby('sentiment')['rating'].mean()
print(grouped_data)

Mean rating by sentiment:
sentiment
 not worth the price.               NaN
 the product does not work.         NaN
 the staff was rude.                NaN
 will not return.                   NaN
Negative                       1.444444
Neutral                        3.000000
Positive                       4.880000
Name: rating, dtype: float64

In [44]:
# Count the number of feedbacks per sentiment
print("\nCount of feedbacks by sentiment:")
feedback_count = df.groupby('sentiment')['feedback_description'].count()
print(feedback_count)

Count of feedbacks by sentiment:
sentiment
 not worth the price.           1
 the product does not work.     1
 the staff was rude.            1
 will not return.               1
Negative                       45
Neutral                         1
Positive                       50
Name: feedback_description, dtype: int64

In [46]:
# Sorting by rating (descending)
print("\nData sorted by rating (descending):")
sorted_data = df.sort_values(by='rating', ascending=False)
print(sorted_data)

Data sorted by rating (descending):
    feedback_id  customer_id  category_id feedback_date  \
74           75           75           75       00:00.0
54           55           55           55       00:00.0
70           71           71           71       00:00.0
88           89           89           89       00:00.0
41           42           42           42       00:00.0
..          ...          ...          ...           ...
60           61           61           61       00:00.0
72           73           73           73       00:00.0
22           23           23           23       00:00.0
18           19           19           19       00:00.0
34           35           35           35       00:00.0

                                 feedback_description  \
74                                  Very poor quality
54                                   Awful experience
70                                Horrible experience
88                                      Disappointing
41                      Absolutely love this product!
..                                                ...
60        The customer service line was busy all day.
72                         Terrible customer support!
22                     The movie was a waste of time.
18                The quality of this item is subpar.
34  I am not impressed with the quality of this item.

                      sentiment        source        rating response_status  \
74         not worth the price.      Negative        Zomato               1
54          the staff was rude.      Negative          Yelp               1
70             will not return.      Negative  Online Forum               1
88   the product does not work.      Negative        Amazon               1
41                     Positive        Amazon             5   Not Responded
..                          ...           ...           ...             ...
60                     Negative  Online Forum             1       Responded
72                     Negative          Yelp             1       Responded
22                     Negative          IMDb             1       Responded
18                     Negative        Amazon             1       Responded
34                     Negative  Online Store             1       Responded

   improvement_suggested       Unnamed: 10
74             Responded   Improve quality
54             Responded  Improve training
70             Responded   Improve service
88             Responded     Quality check
41                   NaN               NaN
..                   ...               ...
60     Increase staffing               NaN
72       Improve support               NaN
22    Improve production               NaN
18       Improve quality               NaN
34       Improve quality               NaN

[100 rows x 11 columns]

In [48]:
# Filter feedback with positive sentiment
print("\nFeedback with positive sentiment:")
positive_feedback = df[df['sentiment'] == 'Positive']
print(positive_feedback)

Feedback with positive sentiment:
    feedback_id  customer_id  category_id feedback_date  \
0             1            1            1       00:00.0
2             3            3            3       00:00.0
4             5            5            5       00:00.0
6             7            7            7       00:00.0
9            10           10           10       00:00.0
11           12           12           12       00:00.0
13           14           14           14       00:00.0
15           16           16           16       00:00.0
17           18           18           18       00:00.0
19           20           20           20       00:00.0
21           22           22           22       00:00.0
23           24           24           24       00:00.0
25           26           26           26       00:00.0
27           28           28           28       00:00.0
29           30           30           30       00:00.0
31           32           32           32       00:00.0
33           34           34           34       00:00.0
35           36           36           36       00:00.0
37           38           38           38       00:00.0
39           40           40           40       00:00.0
41           42           42           42       00:00.0
43           44           44           44       00:00.0
45           46           46           46       00:00.0
47           48           48           48       00:00.0
49           50           50           50       00:00.0
51           52           52           52       00:00.0
53           54           54           54       00:00.0
55           56           56           56       00:00.0
57           58           58           58       00:00.0
59           60           60           60       00:00.0
61           62           62           62       00:00.0
63           64           64           64       00:00.0
65           66           66           66       00:00.0
67           68           68           68       00:00.0
69           70           70           70       00:00.0
71           72           72           72       00:00.0
73           74           74           74       00:00.0
75           76           76           76       00:00.0
77           78           78           78       00:00.0
79           80           80           80       00:00.0
81           82           82           82       00:00.0
83           84           84           84       00:00.0
85           86           86           86       00:00.0
87           88           88           88       00:00.0
89           90           90           90       00:00.0
91           92           92           92       00:00.0
93           94           94           94       00:00.0
95           96           96           96       00:00.0
97           98           98           98       00:00.0
99          100          100          100       00:00.0

                               feedback_description sentiment          source  \
0                              I love this product!  Positive         Twitter
2            This product exceeded my expectations!  Positive          Amazon
4   Amazing experience! Would definitely recommend!  Positive     TripAdvisor
6                              Absolutely loved it!  Positive       Instagram
9                    Highly recommend this service!  Positive            Yelp
11           Customer service was quick to respond.  Positive        Facebook
13              This restaurant is my new favorite!  Positive     TripAdvisor
15           I had a fantastic time at the concert!  Positive    Event Review
17              The staff was friendly and helpful.  Positive     TripAdvisor
19                     Just had the best meal ever!  Positive       Instagram
21                                I love this song!  Positive         Spotify
23               Best shopping experience I’ve had!  Positive        Facebook
25          I cannot get enough of this restaurant!  Positive     TripAdvisor
27                         Amazing value for money!  Positive  Google Reviews
29                   This app is incredibly useful!  Positive       App Store
31            I had a great time at the theme park!  Positive    Event Review
33        This product works exactly as advertised!  Positive          Amazon
35                     This is my go-to restaurant!  Positive            Yelp
37             This website is so easy to navigate!  Positive  Google Reviews
39        The delivery was prompt and professional.  Positive    Online Store
41                    Absolutely love this product!  Positive          Amazon
43     This app has changed my life for the better!  Positive       App Store
45               Fantastic product! Will buy again!  Positive          Amazon
47                Quick delivery and great quality!  Positive    Online Store
49          I had a great experience at this hotel!  Positive     TripAdvisor
51             Great atmosphere and friendly staff!  Positive  Google Reviews
53                     This gadget works perfectly!  Positive          Amazon
55             Loved the presentation and the food!  Positive        Facebook
57                   I highly recommend this place!  Positive     TripAdvisor
59                    Such a great value for money!  Positive            Yelp
61                Best product I’ve ever purchased!  Positive          Amazon
63           Everything was perfect during my stay!  Positive     TripAdvisor
65                 Quick and easy checkout process.  Positive    Online Store
67             Friendly service and delicious food!  Positive        Facebook
69          One of the best concerts I’ve attended!  Positive    Event Review
71              This is my new favorite restaurant!  Positive  Google Reviews
73            The product exceeded my expectations!  Positive          Amazon
75                      Excellent customer service!  Positive        Facebook
77                       Highly professional staff!  Positive  Google Reviews
79                         I enjoyed my experience!  Positive     TripAdvisor
81          I will definitely recommend this place!  Positive            Yelp
83                     Perfect for a family outing!  Positive  Google Reviews
85                         Amazing value for money!  Positive          Amazon
87            Fantastic service and quick delivery!  Positive        Facebook
89                    I had a wonderful experience!  Positive     TripAdvisor
91                    Highly recommend the service!  Positive            Yelp
93                              Loved the ambiance!  Positive        Facebook
95                   Excellent quality and service!  Positive          Zomato
97                         Best purchase I’ve made!  Positive    Online Store
99                       I would come back anytime!  Positive  Google Reviews

   rating response_status improvement_suggested Unnamed: 10
0       5       Responded                   NaN         NaN
2       5   Not Responded                   NaN         NaN
4       5   Not Responded                   NaN         NaN
6       5   Not Responded                   NaN         NaN
9       5       Responded                   NaN         NaN
11      4   Not Responded                   NaN         NaN
13      5   Not Responded                   NaN         NaN
15      5   Not Responded                   NaN         NaN
17      4   Not Responded                   NaN         NaN
19      5   Not Responded                   NaN         NaN
21      5   Not Responded                   NaN         NaN
23      5   Not Responded                   NaN         NaN
25      5   Not Responded                   NaN         NaN
27      5   Not Responded                   NaN         NaN
29      5   Not Responded                   NaN         NaN
31      5   Not Responded                   NaN         NaN
33      5   Not Responded                   NaN         NaN
35      5   Not Responded                   NaN         NaN
37      5   Not Responded                   NaN         NaN
39      5   Not Responded                   NaN         NaN
41      5   Not Responded                   NaN         NaN
43      5   Not Responded                   NaN         NaN
45      5   Not Responded                   NaN         NaN
47      4   Not Responded                   NaN         NaN
49      5   Not Responded                   NaN         NaN
51      4   Not Responded                   NaN         NaN
53      5   Not Responded                   NaN         NaN
55      5   Not Responded                   NaN         NaN
57      5   Not Responded                   NaN         NaN
59      4   Not Responded                   NaN         NaN
61      5   Not Responded                   NaN         NaN
63      5   Not Responded                   NaN         NaN
65      5   Not Responded                   NaN         NaN
67      5   Not Responded                   NaN         NaN
69      5   Not Responded                   NaN         NaN
71      5   Not Responded                   NaN         NaN
73      5   Not Responded                   NaN         NaN
75      5   Not Responded                   NaN         NaN
77      5   Not Responded                   NaN         NaN
79      4   Not Responded                   NaN         NaN
81      5   Not Responded                   NaN         NaN
83      5   Not Responded                   NaN         NaN
85      5   Not Responded                   NaN         NaN
87      5   Not Responded                   NaN         NaN
89      5   Not Responded                   NaN         NaN
91      5   Not Responded                   NaN         NaN
93      5   Not Responded                   NaN         NaN
95      5   Not Responded                   NaN         NaN
97      5   Not Responded                   NaN         NaN
99      5   Not Responded                   NaN         NaN

In [51]:
# Fill missing values in the 'improvement_suggested' column (if any) with 'None'
df['improvement_suggested'].fillna('None', inplace=True)
print("\nAfter filling missing values in improvement_suggested:")
print(df.head())

After filling missing values in improvement_suggested:
   feedback_id  customer_id  category_id     feedback_date  \
0            1            1            1           00:00.0
1            2            2            2           00:00.0
2            3            3            3           00:00.0
3            4            4            4  04/09/2024 00:00
4            5            5            5           00:00.0

                                feedback_description sentiment        source  \
0                               I love this product!  Positive       Twitter
1    I had a terrible experience with their service.  Negative          Yelp
2             This product exceeded my expectations!  Positive        Amazon
3  I am very disappointed with the quality of thi...  Negative  Online Store
4    Amazing experience! Would definitely recommend!  Positive   TripAdvisor

  rating response_status improvement_suggested Unnamed: 10
0      5       Responded                  None         NaN
1      2       Responded       Improve service         NaN
2      5   Not Responded                  None         NaN
3      1       Responded         Quality check         NaN
4      5   Not Responded                  None         NaN

In [54]:
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')

In [55]:
# Aggregating multiple statistics (mean rating and feedback count) per sentiment
print("\nAggregated statistics (mean rating and feedback count) by sentiment:")
aggregated_stats = df.groupby('sentiment').agg(
    mean_rating=('rating', 'mean'),
    feedback_count=('feedback_description', 'count')
)
print(aggregated_stats)

Aggregated statistics (mean rating and feedback count) by sentiment:
                             mean_rating  feedback_count
sentiment
 not worth the price.                NaN               1
 the product does not work.          NaN               1
 the staff was rude.                 NaN               1
 will not return.                    NaN               1
Negative                        1.444444              45
Neutral                         3.000000               1
Positive                        4.880000              50

In [64]:
# Filter categories with more than 1 feedback 
print("\nCategories with more than 1 feedback:")
multiple_feedback_categories = feedback_count[feedback_count > 1]
print(multiple_feedback_categories)

Categories with more than 1 feedback:
sentiment
Negative    45
Positive    50
Name: feedback_description, dtype: int64